<div class="alert alert-block alert-warning">
    <span style='font-family:Georgia'>
        <b>Strategy for cleaning the data set: </b> 
        <ul>
            <li>delete nuneeded columns</li>
            <li>rename columns</li>
            <li>Data Type conversion, and fix cost and rate column</li>
            <li>categorize any location that has less than 1000 as a other</li>
            <li>Null Value Data Imputation</li>
        </ul>       
    </span>    
</div>

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.options.display.max_columns = None
zomato_df = pd.read_csv(r'E:\data analysis projects\Zomato Data Set Analysis & Visualization\zomato.csv')
new_zomato_df = zomato_df

In [3]:
zomato_df.head(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

<a id="intro"></a>
<h2>   
      <font color = blue >
            <span style='font-family:Georgia'>
            1. delete nuneeded columns (url, address, phone, reviews_list, menu_item, dish_liked):
            </span>   
        </font>    
</h2>

In [7]:
new_zomato_df.drop(columns=['url', 'address', 'phone', 'reviews_list', 'menu_item', 'dish_liked'], inplace=True)
new_zomato_df.head(5)

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

<a id="intro"></a>
<h2>   
      <font color = blue >
            <span style='font-family:Georgia'>
            2. rename columns:
            </span>   
        </font>    
</h2>

In [8]:
new_zomato_df.rename(columns={'rest_type': 'resturant_type', 'listed_in(city)':'city' ,'approx_cost(for two people)':'cost_for_2','listed_in(type)':'type'}, inplace=True)
new_zomato_df

,name,online_order,book_table,rate,votes,location,resturant_type,cuisines,cost_for_2,type,city
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,Continental,"1,500",Pubs and bars,Whitefield
51713,Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Bar,Finger Food,600,Pubs and bars,Whitefield
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Bar,Finger Food,"2,000",Pubs and bars,Whitefield
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,Finger Food,"2,500",Pubs and bars,Whitefield
51716,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental","1,500",Pubs and bars,Whitefield

<a id="intro"></a>
<h2>   
      <font color = blue >
            <span style='font-family:Georgia'>
            3. Data Type conversion, and fix cost and rate column:
            </span>   
        </font>    
</h2>

<h3 name='libraries'>   
      <font color = purple >
            <span style='font-family:Georgia'>
            3.1 fix and convert rate to float instead of object:
            </span>   
        </font>    
</h3>

In [9]:
# fixing rating

def fix_rate(rate):
    if rate == 'NEW' or rate == '-' or rate == np.nan:
        return np.nan
    else:
        new_rate = str(rate).split('/')
    return float(new_rate[0])

new_zomato_df['rate'] = new_zomato_df['rate'].apply(fix_rate)

new_zomato_df['rate']

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713    NaN
51714    NaN
51715    4.3
51716    3.4
Name: rate, Length: 51717, dtype: float64

<h3 name='libraries'>   
      <font color = purple >
            <span style='font-family:Georgia'>
            3.2 fix and convert cost to float instead of object:
            </span>   
        </font>    
</h3>

In [11]:
# fixing cost

def fix_cost(cost):
    cost = str(cost).replace(',','')
    return float(cost)

new_zomato_df['cost_for_2'] = zomato_df['cost_for_2'].apply(fix_cost)

new_zomato_df['cost_for_2']

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51712    1500.0
51713     600.0
51714    2000.0
51715    2500.0
51716    1500.0
Name: cost_for_2, Length: 51717, dtype: float64

In [12]:
new_zomato_df

,name,online_order,book_table,rate,votes,location,resturant_type,cuisines,cost_for_2,type,city
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,Buffet,Banashankari
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,Continental,1500.0,Pubs and bars,Whitefield
51713,Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Bar,Finger Food,600.0,Pubs and bars,Whitefield
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Bar,Finger Food,2000.0,Pubs and bars,Whitefield
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,Finger Food,2500.0,Pubs and bars,Whitefield
51716,The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1500.0,Pubs and bars,Whitefield

<a id="intro"></a>
<h2>   
      <font color = blue >
            <span style='font-family:Georgia'>
            4. categorize any location that has less than 1000 as a other:
            </span>   
        </font>    
</h2>

In [32]:
count_locations = new_zomato_df['location'].value_counts() 
locations_below1000 = count_locations[count_locations < 1000]
def fix_location(location):
    if location in locations_below1000:
        return 'others'
    return location

new_zomato_df['location'] = new_zomato_df['location'].apply(fix_location)
new_zomato_df['location'].unique()

array(['others', 'Jayanagar', 'JP Nagar', 'Bannerghatta Road', 'BTM',
       'Electronic City', 'HSR', 'Marathahalli', 'Sarjapur Road',
       'Koramangala 5th Block', 'Koramangala 7th Block',
       'Koramangala 4th Block', 'Bellandur', 'Whitefield', 'Indiranagar',
       'Koramangala 1st Block', 'Brigade Road', 'Ulsoor',
       'Koramangala 6th Block'], dtype=object)

<a id="intro"></a>
<h2>   
      <font color = blue >
            <span style='font-family:Georgia'>
            5. Null Value Data Imputation:
            </span>   
        </font>    
</h2>

In [14]:
null_columns = []
rows = len(new_zomato_df)
for col in new_zomato_df:
    if new_zomato_df[col].isna().sum() > 0:
        null_columns.append([col, new_zomato_df[col].isna().sum() / rows * 100])
null_columns

[['rate', 19.436548910416303],
 ['location', 0.04060560357329312],
 ['resturant_type', 0.438927238625597],
 ['cuisines', 0.08701200765705668],
 ['cost_for_2', 0.669025658874258]]

<div class="alert alert-block alert-info">
    <span style='font-family:Georgia'>
        <b>Insight: </b><br>
        there is 3 object columns has missing values less than 1% so, you will fill them by mode, and the other column (rate), will fill by using class method, and the column cost_for_2 will fill by mean
    </span>    
</div>

<h3 name='libraries'>   
      <font color = purple >
            <span style='font-family:Georgia'>
            5.1 fill columns with mode:
            </span>   
        </font>    
</h3>

In [15]:
new_zomato_df['location'].fillna(new_zomato_df['location'].mode()[0], inplace=True)
new_zomato_df['resturant_type'].fillna(new_zomato_df['resturant_type'].mode()[0], inplace=True)
new_zomato_df['cuisines'].fillna(new_zomato_df['cuisines'].mode()[0], inplace=True)

In [17]:
new_zomato_df.isna().sum()

name                  0
online_order          0
book_table            0
rate              10052
votes                 0
location              0
resturant_type        0
cuisines              0
cost_for_2          346
type                  0
city                  0
dtype: int64

In [18]:
new_zomato_df['cost_for_2'].fillna(new_zomato_df['cost_for_2'].mean, inplace=True)

In [19]:
new_zomato_df.isna().sum()

name                  0
online_order          0
book_table            0
rate              10052
votes                 0
location              0
resturant_type        0
cuisines              0
cost_for_2            0
type                  0
city                  0
dtype: int64

<h3 name='libraries'>   
      <font color = purple >
            <span style='font-family:Georgia'>
            5.2 filling rate column with class method, using categorize column type:
            </span>   
        </font>    
</h3>

In [23]:
new_zomato_df['type'].unique()

array(['Buffet', 'Cafes', 'Delivery', 'Desserts', 'Dine-out',
       'Drinks & nightlife', 'Pubs and bars'], dtype=object)

In [55]:
column = new_zomato_df['type'].unique()

for col in column:
    print(len(new_zomato_df[new_zomato_df['type'] == col]['rate']) ,(new_zomato_df[new_zomato_df['type'] == col]['rate'].mean()), ' ')
    
for col in column:
    new_zomato_df.loc[new_zomato_df['type'] == col, 'rate'] = new_zomato_df[new_zomato_df['type'] == col]['rate'].fillna(new_zomato_df[new_zomato_df['type'] == col]['rate'].mean())

882 3.9821052631578944
1723 3.8724770642201833
25942 3.6532568163107175
3593 3.77701317715959
17779 3.680826353206166
1101 4.017061611374408
697 4.022932917316693

In [56]:
new_zomato_df['rate'].isnull().sum()

0

In [57]:
new_zomato_df.isna().sum()

name              0
online_order      0
book_table        0
rate              0
votes             0
location          0
resturant_type    0
cuisines          0
cost_for_2        0
type              0
city              0
dtype: int64

In [60]:
new_zomato_df.to_csv(r"E:\data analysis projects\Zomato Data Set Analysis & Visualization\cleaned_zomato.csv", index=False)